name: Deploy Webpack to GitHub Pages

on:
  push:
    branches:
       -main
  workflow_dispatch: {}

permission: 
   contents: read
   action: write
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install dependencies
        run: npm install

      - name: Build with Webpack
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifacts@v3
        with: 
          name: build
          path: dist/
